.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  height: 500px;
}

div {
  display: grid;
  grid-template-columns: 55% 40% 30% 50%;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  font-size: 12px;
}

#livingRoom {
  grid-area: 1 / 2 / 4 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BDB76B;
}

.bedroom {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Bedroom2 {
 grid-area: 3 / 1 / 5 / 2;
}

#Bedroom3 {
 grid-area: 4 / 3 / 5 / 5;
}

#kitchen {
  grid-area: 1 / 4 / 4 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: pink;
}

#kitchen > h1 {
  grid-column: 1 / 3;
}

.kitchenItem {
  grid-area: 1;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#oven {
  background-color: #9370DB;
}

.bath {
   background-color: #ADD8E6;
   display: flex;
   align-items: center;
   justify-content: center;
}
